$primary-color: #886cff;
$primary-green: #34c635;
$primary-black: #120f1f;
$primary-blue: #4f77ff;
$text-color: #7b88a8;
$text-hedding: #2d3958;
$text-gray: #e7e5ea;
$line-gray: #e7e5ea;
$bg-light: #f8fafc;
$bg-gray: #292f3a;
