include mixins.pug 

doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Pollpock
  link(rel="stylesheet", href="./css/main.css")
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap", rel="stylesheet")
body 
  main
    //- include ./popup/input-email.pug
    include ./view/headerNav.pug
    include ./view/header.pug
    include ./view/leveup.pug
    include ./view/weoffer.pug
    include ./view/work.pug
    include ./view/invest.pug
    include ./view/transformation.pug
    include ./view/question.pug
    include ./view/startup.pug
    include ./view/news.pug
    include ./view/footer.pug
    
    //- .image-zoom
    //-   .image-zoom-wrappersasss
    //-     img(src="./image/avatar-pers1.png", alt="")
    svg(viewBox="0 0 100 100")
      path(d="M54 20 L20 23 Z")
script(src="./javascript/javascript.js") 