.header   
  img.header-bg(src="./image/bg1.png", alt="bg-header")
  img.header-wave(src="./image/wave1.png", alt="wave-header")
  .header-view
    .heading.header-view-heading| An elite ecosystem of 
      span.gradient-text| entrepreneurs.
    .header-view-content| We believe that technology has the power to make the world a better place and we invest our time and resources into entrepreneurs that are making an impact.
    .header-view-button
      button.button.header-view-button-getstarted| Get Started
      a(href="#work").button-how
        .header-view-button-play 
          img(src="./image/icon-play.svg", alt="icon-play")
        span| How It Works
  
    
  