.invest.wrapper#invest 
  h2.invest-title.heading| We invest in 
    span.gradient-text|the world’s potential.
  p.invest-text| When launching a startup, having the right tech tools in place can help set you up for success
  .invest-list 
    +invest-card("./image/Startups.svg","Startups")
    +invest-card("./image/Development.svg","Development")
    +invest-card("./image/Strategy.svg","Strategy")
    +invest-card("./image/Branding.svg","Branding")
    +invest-card("./image/Apps.svg","Apps")
    +invest-card("./image/FinTech.svg","FinTech")
