.wrapper.leveup
  .heading.leveup-heading| Level up your startup with our 
    span.gradient-text global accelerator
    | & programs
  .leveup-view 
    .leveup-content 
      h3.leveup-content-title| An app that takes your goals to the next level
      p.leveup-content-text| Our seed accelerators and founder programs are some of the most highly-sought after startup programs globally.
      .leveup-content-link
        a(href="#")| Discover Now 
        a(href="#")
          img(src="./image/icon-arrow-right.svg", alt="icon-arrow-right")
      .leveup-content-button 
        .leveup-content-button-left
          img(srcSet="./image/icon-left.png 2x", alt="icon-left")
        .leveup-content-button-right
          img(srcSet="./image/icon-right.png 2x", alt="icon-right")
    .leveup-image 

      .leveup-image-wrapper 
        img(src="./image/leveup-image.png",alt="image-leveup")
        .layer
      h3| Connect to a community facing similar challenges
      p| Our curriculum focuses on marketing, culture, startup accounting, product design, sales, finance, and more.
