.news 
  .news-heading.heading|We will keep you up to date and give you tips to help you optimise your company
  .news-list
    .news-list-first
      +news-card("./image/img-news1.png 2x","10 secrets to connect with your audience through your website and blog","It is not the same to write a blog with simple information as to write by connecting with your target.","May 7, 2022",10)
    .news-list-seconds
      +news-card("./image/img-news2.png 2x","10 secrets to connect with your audience through your website and blog","It is not the same to write a blog with simple information as to write by connecting with your target.","May 7, 2022",10)
    .news-list-right
      +news-card("./image/img-news3.png 2x","10 secrets to connect with your audience through your website and blog","It is not the same to write a blog with simple information as to write by connecting with your target.","May 7, 2022",10)
      +news-card("./image/img-news4.png 2x","10 secrets to connect with your audience through your website and blog","It is not the same to write a blog with simple information as to write by connecting with your target.","May 7, 2022",10)
      +news-card("./image/img-news5.png 2x","10 secrets to connect with your audience through your website and blog","It is not the same to write a blog with simple information as to write by connecting with your target.","May 7, 2022",10)