.question
  .question-left
    h3.question-left-title| We turn potential talent into performance
    p.question-left-text| We invest far and wide, across sectors and geographies. Our portfolio includes 
      span.primary-text|50 companies valued at $1B+ 
      |and 
      span.primary-text|130+ companies valued at more than $100 million².
    a.question-left-button.button(href="#")
      span|Let’s talk
      img(srcSet="./image/icon-arrow-right.png 2x", alt="icon-arrow") 







  .question-right 
    ul.question-right-list
      each item in ["What do startups need to know?","How to obtain startup funding/capital?","What are the costs of a startup?","Why do startups succeed?","What is venture capital?"]
        li.question-right-item
          .question-right-item-content
            span= item
            p|From a business-centric viewpoint you will need to know your target audience, conduct market research, find investors, register and pick a location, and develop a product that stands out from the market.
          .question-right-item-plus
            img(src="./image/icon-plus.svg", alt="icon-plus")
