.transfomation 
  .transfomation-bg-around1
  img.transfomation-bg-wave(src="./image/wave3.png", alt="wave-transfomation")
  img.transfomation-bg(src="./image/bg3.png", alt="bgr-transfomation")
  .wrapper.transfomation-content 
    h3.transfomation-title.heading| We 
      span.gradient-text| design & develop 
      |transformative user experiences from Silicon Valley
    p.transfomation-text| Are you ready to start your project? Contact us today and get started!
    a.button.transfomation-button| Get Started