.alert-email 
  h3.alert-email-title| OK! 
  p.alert-email-input|12333984398949
    .alert-email-color 
      .alert-email-color1
      .alert-email-color2
      .alert-email-color3
      .alert-email-color4
      .alert-email-color5